<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Estacionamiento</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
         <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Registro Vehiculos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a  class="dropdown-item" routerLink="/nuevoRegistro" routerLinkActive="active">Crear<span class="sr-only">(current)</span></a>
            <a  class="dropdown-item" routerLink="/registros" routerLinkActive="active">Listar<span class="sr-only">(current)</span></a>
        </div>
      </li>
    </ul>
    </div>
  </div>
</nav>
<div class="jumbotron">
  <div class="container text-center">
      <div class="row">
        <div class="col-md-12"> 
            <h3>Estacionamiento</h3>
            <router-outlet></router-outlet>  
        </div>
      </div>
  </div>
</div>

